*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: #f8fafc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #0f172a;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.title {
  text-align: center;
  margin-top: 2.5rem;
}

.title span {
  font-size: 0.85em;
  color: #8b5cf6;
  margin-right: 1rem;
  font-weight: 700;
}

.section-center {
  width: min(80vw, 800px);
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  text-align: center;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.person-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid #ddd6fe;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.name {
  color: #8b5cf6;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.person-title {
  text-transform: capitalize;
  color: #334155;
  margin-bottom: 0.75rem;
}

.quote {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  color: #64748b;
  line-height: 2;
}

.icon {
  color: #8b5cf6;
  font-size: 3rem;
  margin-top: 1rem;
}

.prev,
.next {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 200px;
  background-color: #64748b;
  color: white;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-color: transparent;
  transition: 0.3s ease-in-out all;
  border-radius: 0.25rem;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #8b5cf6;
}

@media screen and (min-width: 800px) {
  .quote {
    max-width: 45em;
  }

  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .lastSlide {
    transform: translateX(-100%);
  }
}

.slide.activeSlide {
  transform: translateX(0);
  opacity: 1;
}
.slide.nextSlide {
  transform: translateX(100%);
}
.slide.lastSlide {
  transform: translateX(-100%);
}
